article.locations
  +containerX()
    +blockTitle(currentPageData && currentPageData.locationTitle ? currentPageData.locationTitle.replace(/\n/g, '<br>') : 'Наши площадки')
    .description
      p
        if currentPageData && currentPageData.locationDescription
          |!{currentPageData.locationDescription.replace(/\n/g, '<br>')}
        else
          |Мы проводим лекции в центре (в пределах Садового кольца) и не более чем в 5ти минут ходьбы от метро. Поэтому добираться к нам очень удобно.
  
  if currentPageData && currentPageData.allLocations
    .content
      .items
        +containerSlider()
          .locations-slider
            +slider(3)
              each location in currentPageData.allLocations
                +locationSlide(location)
