article.how-work.how-work-lecture
  - let howWork = currentPageData.HowWorkPage;

  +containerX()
    +blockTitle('Как проходит синхронизация', false, 'h10', 'less')
  .content
    .items
      +containerX()
        .grid-x.small-up-1.medium-up-3.large-up-3.text-center
          .cell
            .content
              .title
                h3
                  .icon.time
                  if howWork && howWork.titleFirstBlock
                    | !{howWork.titleFirstBlock}
                  else
                    | Формат
              .text
                p
                  if howWork && howWork.textFirstBlock
                    |!{howWork.textFirstBlock}
                  else
                    |Каждая наша лекция идет
                    br
                    |в среднем 
                    strong 2 часа
                    |, в группе
                    br
                    |не более&nbsp;
                    strong 30 человек
                  
          .cell
            .content
              .title
                h3
                  .icon.umbrella
                  if howWork && howWork.titleSecondBlock
                    |!{howWork.titleSecondBlock}
                  else
                    | Страховка
              .text
                p
                  if howWork && howWork.textSecondBlock
                    |!{howWork.textSecondBlock}
                  else
                    |Пропустили лекцию?
                    br
                    |просто&nbsp;
                    strong запишитесь на
                      br
                      |другую! 
                  
          .cell
            .content
              .title
                h3 
                  .icon.book
                  if howWork && howWork.titleThreeBlock
                    |!{howWork.titleThreeBlock}
                  else
                    |Бонус
              .text
                p
                  if howWork && howWork.textFourBlock
                    |!{howWork.textThreeBlock}
                  else
                    |Мы&nbsp;
                    strong присылаем презентацию
                    br
                    |&nbsp;и материалы для самостоятельного
                    br
                    |&nbsp;изучения темы
 
