footer.footer
  - let templateData = currentPageData.templateData || {};
  .grid-container
    .grid-x.grid-margin-x
      .large-5.medium-5.large-offset-1.medium-offset-1.small-offset-1.small-14.cell
        .left
          +logo('/assets/img/rus_1_w.svg')
          .description
            p
              |Читаем лекции по литературе,
              br
              |театру, кино и музыке, ходим вместе
              br
              |на выставки и спектакли, обсуждаем
              br
              |искусство за чашкой кофе.
          .copyright
            | © #{`2015-${new Date().getFullYear()}`} Синхронизация
      .large-4.medium-4.medium-offset-0.large-offset-0.small-offset-1.small-14.cell
        +menu()
      .large-5.medium-5.medium-offset-0.large-offset-0.small-offset-1.small-14.cell
        h3 Узнавайте первыми о новых курсах и лекциях:
        +subscribeForm('/subscribe/common', true)
        .grid-x.grid-margin-x
          .large-8.medium-8.medium-offset-0.large-offset-0.small-offset-1.small-14.cell.text-left
            .social
              a(href='https://www.facebook.com/synchronization.community', target='_blank')
                img(src="/assets/img/social-fb-w.png", alt='facebook')
              a(href='https://vk.com/synchronize', target='_blank')
                img(src="/assets/img/social-vk-w.png", alt='vkontakte')
              a(href='https://www.instagram.com/synchronize_art', target='_blank')
                img(src="/assets/img/social-insta-w.png", alt='instagram')
                  
          .large-8.medium-8.medium-offset-0.large-offset-0.small-offset-1.small-14.cell.text-right
            .contacts
              |#{templateData.contactOfficeEmail || 'hello@synchronize.ru'}
              br
              if (currentPageData.templateData && currentPageData.templateData.contactOfficePhone)
                a(href=`tel:${templateData.contactOfficePhone.replace(/\(|\)|-|\s/ig, '')}`)
                  |#{templateData.contactOfficePhone}
      .small-offset-1.small-14.cell.show-for-small-only
        .copyright.text-center
          | © #{`2015-${new Date().getFullYear()}`} Синхронизация
          
//- include ./scripts
