mixin lecturerBlock(item)
  -let fullName = `${item.firstName} ${item.lastName}`;
  a(href='lecturer.html').lecturer-block
    .content
      .inner
        .image
          img(src=item.image, alt=fullName)
        .line
        .title
          |#{fullName}
        .skills
          //- each skill, index in skills
            
          |#{item.skills.join(', ')}  

mixin liCircle(text)
  li
    span.circle • 
    | #{text}
