mixin itemTitle(title, subTitle, titleLink, subTitleLink)
  .item-title
    .line
    .title
      if (titleLink)
        a(href=titleLink)
          h3= title
      else
        h3= title
        
      if (subTitleLink)
        a(href=subTitleLink)
          h4= subTitle
      else
        h4= subTitle
