mixin locationsList(locations)
  .locations-list
    each location in locations
      +locationItem(location)
    
mixin locationItem(location, short)
  .location-item
    .icon.float-left
      img(src='assets/img/location-m.png', alt='где')
    .title= location.title
    if (short)
      .address и другие площадки в центре Москвы
    else
      .address= location.address

mixin locationsListCycle(locations)
  .location-list
    +locationItem(locations[0], true)
