mixin separator()
  .separator &nbsp;|&nbsp;

mixin sheduleEvent(e)
  .event
    a(href=e.link)
      .time
        +formatDateTime(e.date)
      +separator()
      .title
        h3= e.title
      if (e.address)
        +separator()
        .address= e.address
  
mixin day(date)
  .day(class=checkHoliday(date) ? 'holiday' : '')
   +formatDateDay(date)
  
mixin scheduleList(item)
  +containerX()
    .schedule-item
      .date
        .line
        +day(item.date)
        +separator()
        .month
           +formatDateShort(item.date)
      .events
        each e in item.events
          +sheduleEvent(e)

mixin eventDates(dates, n)
  .event-dates
    each item, index in dates
      if (index < n)
        +eventDate(item)
      else
        +eventDate(item, 'hidden')
        
    - let datesLength = dates.length;
    if (datesLength > n)
      .more-dates= 'другие даты>>'
      
mixin eventDate(item, cls)
  - let date = item.date;
  .event-date(class=cls)
    .date
      .month
         +formatDateShort(date)
         +separator()
      .time
        +formatDateTime(date)
      +day(date)

mixin eventDateCourse(item, cls)
  - let date = item.date;
  .event-date(class=cls)
    .date
      .day= item.day
      +separator()
      .time= item.time
    
mixin eventDatesCourse(dates, cls)
  - let datesSorted = sortingAndDecliningDays(dates)

  .event-dates
    each item in datesSorted
      +eventDateCourse(item)
      
mixin eventDatesCycle(cycle, cls)
  .event-dates
    .event-date
      .date
        div
          .time= cycle.whenStrong
        div
          .day= cycle.when
