mixin search(items)
  .search-container.overflow-hidden
    .search(style='display: none;')
      .inner
        form(action='/search').search-form
          input(type='text', name='query').border-black
          .action
            button.button
              img(src='assets/img/search.svg')
              span Найти
            .close ×
            
        .result
          //- +searchResult(items)
  
mixin searchToggleButton()
  a(href="#").search-toggle-btn
    .icon
      img(src='assets/img/search.svg')
    span.hide-for-small-only
      |Поиск

mixin searchResult(items)
  - function checkHoliday(date) { const day = new Date(date).getDay(); return day === 0 || day === 6 ? true : false }
  each item in items
    each lecture in item.lectures
      .item
        a(href='lecture.html')
          .grid-container
            .grid-x.grid-margin-x
              .large-3.medium-3.small-6.cell
                .image
                  img(src=lecture.image, alt=lecture.title)
              .large-13.medium-13.small-10.cell
                .date-item
                  span= moment(lecture.date).format('D MMMM')
                  span , 
                  .day(class=checkHoliday(date) ? 'holiday' : '')
                    span= moment(lecture.date).format('dddd')
                .title
                  .lecture-title #{`Лекция “${lecture.title}”`}
                  if (lecture.course)
                    .course-title #{`Курс “${lecture.course}”`}

                .lecturers-list
                  each lecturer in lecture.lecturers
                    a(href='lecturer.html')
                      .lecturer-item
                        .icon
                          img(src="assets/img/lecturer.png")
                        .title
                          - let fullName = `${lecturer.firstName} ${lecturer.lastName}`
                          |#{fullName}
                .locations-list      
                  each location in lecture.locations
                    .location-item
                      .icon
                        img(src='assets/img/location.png', alt=location.name)
                      .title
                        |#{location.title}, #{location.address}, (#{location.alias})
