article.how-work
  +containerX()
    +blockTitle('Как проходит синхронизация')
  .content
    .items
      +containerX()
        .grid-x.small-up-1.medium-up-2.large-up-4.text-center
          .cell
            .content
              .title
                h3
                  .icon.time
                  | Как?
              .text
                p
                  |Каждая наша лекция идет
                  br
                  |в среднем 
                  strong 2 часа
                  |, в группе
                  br
                  |не более&nbsp;
                  strong 30 человек
                  
          .cell
            .content
              .title
                h3
                  .icon.house
                  | Где?
              .text
                p
                  strong В лектории Синхронизации
                  |&nbsp;
                  br
                  |(м. Кропоткинская)
                  br
                  |и на других площадках
                  br
                  |в центре Москвы
                  
          .cell
            .content
              .title
                h3 
                  .icon.many
                  |Сколько?
              .text
                p
                  |1 лекция стоит&nbsp;
                  strong 900 рублей
                  |,
                  br
                  |&nbsp;часть лекций можно посетить
                  br
                  |только в рамках курса
                  
          .cell
            .content
              .title
                h3 
                  .icon.book
                  |И все?
              .text
                p
                  |Мы&nbsp;
                  strong присылаем презентацию
                  br
                  |&nbsp;и материалы для самостоятельного
                  br
                  |&nbsp;изучения темы
        

 
