article.locations
  +containerX()
    +blockTitle('Наши площадки')
    .description
      p
        |Мы проводим лекции в центре (в пределах Садового кольца) и не более чем в 5ти минут ходьбы от метро. Поэтому добираться к нам очень удобно.
  .content
    .items
      +containerSlider()
        .locations-slider
          +slider(3)
            each location in locations
              +locationSlide(location)
