article.recomendation
  +containerX()
    +blockTitle('Синхронизация рекомендует')
  .content
    .items
      each item in recomendation
        +lecturesItem(item)
    
    .description.text-center
      h3.title.hide-for-small-only
        |Мы проводим по 3 лекции на разные темы каждый день.
        br
        |Вы найдете то, что интересно именно Вам!
        
      a(href='schedule.html').button.button-abstract.long
        |Посмотреть расписание
