.lecturer-block {
  .content {
    padding: rem-calc(14);
    max-width: rem-calc(340);
    text-align: left;
  }
  .image {
    margin-bottom: rem-calc(23);
    img {
      box-shadow: 0 0 14px 1px rgba(0, 0, 0, 0.15);
    }
  }
  .line {
    height: rem-calc(14);
    background: #000;
  }
  .title {
    font-family: 'Roboto Slab';
    font-size: rem-calc(25);
    font-weight: 700;
    line-height: 1;
    margin-top: rem-calc(5);
    margin-bottom: rem-calc(7);
  }
  .skills {
    font-family: 'Roboto Slab';
    font-size: rem-calc(18);
    font-weight: 400;
    line-height: 1.2;
  }
}

.grid-c3 {
  .lecturer-block {
    display: inline-block;
    .content {
      padding: 0;
      max-width: rem-calc(340);
      text-align: inherit;
      .inner {
        @include breakpoint(medium only) {
          max-width: 90%;
          display: inline-block;
        }
      }

    }
    .image {
      img {
        box-shadow: 0 0 48px 3px rgba(0, 0, 0, 0.15);
      }
    }
  }
}
