.spin-local {
	display: none;
	img {
		width: rem-calc(30);
	}
}
.spin-glb {
	text-align: center;
	width: 100%;
	display: none;
	img {
		width: rem-calc(30);
	}
}

.spin-full {
  img {
    width: rem-calc(50);
  }
}

.overlay-glb {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  // background: red;
  background-color: rgba(232, 232, 232, 0.7);
  z-index: 999999;
  overflow: hidden;
}

body {
  // overflow: hidden;
  &.hide-scroll {
    overflow: hidden;
  }
}
