mixin navStikyAnchorsItem(item)
  li
    a(href=item[0]).anchor
      .line
      .text
        |#{item[1]}

mixin stkBlock(linksLecture, linksCourse, type)
  .grid-container
    .grid-x.grid-margin-x
      .large-1.medium-1.small-1.cell
      .large-3.medium-4.small-8.cell.logo-container
        +logo('/assets/img/rus_1.svg')
      .show-for-small-only.small-offset-3.small-3.cell.text-right
        button(type='button', data-toggle='offCanvasLeft').show-m-offcanvas
          img(src='/assets/img/menu-icon.svg', alt='open menu')
      .large-11.large-offset-0.medium-offset-0.medium-9.small-offset-1.small-14.cell
        .anchors.pos-relative
          .menu-anchors
            ul.menu
              case type
                when 'lecture'
                  each item in linksLecture
                    +navStikyAnchorsItem(item)
                when 'course'
                  each item in linksCourse
                    +navStikyAnchorsItem(item)
                when 'cycle'
                  each item in linksCourse
                    +navStikyAnchorsItem(item)
              li.hide-for-large
                //- div купить
                +buttonBuy('Купить', '#buy')(class='anchor')
          
            .exc.show-for-large
              +buttonBuy('Купить', '#buy')(class='anchor')
              //- li
              //-   .phone
              //-     a(href=`tel:${locals.app.phone.replace(/\(|\)|-|\s/ig, '')}`)= locals.app.phone
      .show-for-medium-only.medium-offset-0.medium-1.small-offset-3.small-3.cell.text-right
        button(type='button', data-toggle='offCanvasLeft').show-m-offcanvas
          img(src='/assets/img/menu-icon.svg', alt='open menu')

mixin navStikyAnchors(type)
  - const linksCourse = [['#lecturers', 'Лекторы'], ['#lectures', 'Описание'], ['#reviews', 'Отзывы']];
  - const linksLecture = [['#lectures', 'Описание'], ['#lecturers', 'Лекторы'], ['#reviews', 'Отзывы']];
  #foo
  div(data-sticky-container).anchors-sticky-container
    div(data-sticky, data-top-anchor='foo', data-margin-top='0', data-sticky-on='small', data-check-every='0').anchors-sticky-inner    
      +stkBlock(linksLecture, linksCourse, type)
      
  //- div.anchors-sticky-container.hide-for-large-only
  //-   div.anchors-sticky-inner
  //-     +stkBlock(linksLecture, linksCourse, type)
