mixin itemTitle(title, subTitle, titleLink, subTitleLink)
  .item-title
    .line
    .title
      if (titleLink)
        a(href=`/${titleLink}`)
          h3= title
      else if (title)
        h3= title
        
      if (subTitleLink)
        a(href=`/${subTitleLink || titleLink}`)
          h4= subTitle
      else if (subTitle)
        h4= subTitle
