extends layouts/simple

block content
  main.main
    +containerClearX()
      h1= message
      - let isErrorObject = error instanceof Error;
      if (isErrorObject)
        h2= error.status
        pre #{error.stack}
      else
        +errorDescription()
