mixin headerStkBlock()
  .grid-container
    .grid-x.grid-margin-x
      .large-offset-1.large-3.medium-offset-1.medium-4.small-offset-1.small-8.cell
        +logo('assets/img/rus_1.svg')
      .hide-for-large.medium-offset-9.medium-1.small-offset-3.small-3.cell.text-right
        button(type='button', data-toggle='offCanvasLeft').show-m-offcanvas
          img(src='assets/img/menu-icon.svg', alt='open menu')
      .show-for-large.large-11.cell
        .grid-y
          .cell
            include ./nav
          .cell
            .text-right.phone
              a(href=`tel:${locals.app.phone.replace(/\(|\)|-|\s/ig, '')}`)= locals.app.phone

header.header
  -
    let attributesStickyContainer = {};
    let attributesSticky = {};
  
    if (page !== 'course' && page !== 'lecture') {
      attributesSticky = { 'data-sticky': true, 'data-options': 'marginTop:0;', 'data-sticky-on': 'small' }
      attributesStickyContainer = { 'data-sticky-container': true }
    }
  
  .st-wrap&attributes(attributesStickyContainer)
    .st-inner&attributes(attributesSticky)
      +headerStkBlock()
      
  //- .show-for-small-only.show-for-medium-only.hide-for-large-only
  //-   .st-wrap
  //-    .st-inner
  //-       +headerStkBlock()
      
  include ./offCanvas
  //- include ../components/signIn
