link(href='https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700|Roboto:300,400,500,700,900&subset=cyrillic', rel='stylesheet')
link(rel='shortcut icon', href='favicon.ico', type='image/x-icon')
link(rel='icon', href='favicon.ico', type='image/x-icon')
link(href='assets/css/vendor.css', rel='stylesheet', type='text/css')
link(href='assets/css/app.css', rel='stylesheet', type='text/css')

block styles
