a(href='http://aolabs.ru/synho/')
  .logo
    img(src='assets/img/rus_1.svg')
    //- div
    //-   .line
    //-   strong
    //-     |синхронизация
    //- div
    //-   |культурная платформа
    //- 
