li
  .grid-container
    .grid-x.grid-margin-x
      .large-offset-1.large-14.small-offset-1.small-14.cell
        .title
          h3 Участник #{n}
  .grid-container
    .grid-x.grid-margin-x
      .large-offset-1.large-4.medium-offset-1.medium-7.small-offset-1.small-14.cell
        label 
          span email
          input(type='text', name='email', required, pattern='email')
      .large-offset-1.large-4.medium-offset-0.medium-7.small-offset-1.small-14.cell
        label 
          span телефон
          input(type='text', name='phone', required, pattern='phone')
  .grid-container
    .grid-x.grid-margin-x
      .large-offset-1.large-4.medium-offset-1.medium-7.small-offset-1.small-14.cell
        label 
          span имя
          input(type='text', name='firstName', required, pattern='alpha_ru')
      .large-offset-1.large-4.medium-offset-0.medium-7.small-offset-1.small-14.cell
        label 
          span фамилия
          input(type='text', name='lastName', required, pattern='alpha_ru')
        
