extends ../layouts/layout

block vars
  - activeLink = 'account.html';
  - page = 'account';
  - user = true;
  
block title
  - let account = pages.account;
  - let profile = account.user.profile;
  - let orders = account.user.orders;

  title Синхронизация | #{account.title}

block content
  main.main.account-page
    .main-title
      +containerX()
        +blockTitleWithEdit(account.title, true)
        .sub-title
          if (account.subTitle)
            |#{account.subTitle}
        
    .account
      .content
        .user
          +containerFullX()
            +cellOffset(2, 1)(class='medium-offset-1 medium-2 small-offset-1 small-14')
              .avatar
                |#{profile.firstName[0]}#{profile.lastName[0]}
            +cell(12)(class='large-offset-0 medium-offset-0 medium-12 small-offset-1 small-14')
              .profile
                form(actions='#')
                  .part.firstName
                    strong
                      |Имя&nbsp;
                    span.value
                      |#{profile.firstName}
                    input(type='texp', name='firstName', value=profile.firstName).hidden
                      
                  .part.lastName
                    strong
                      |Фамилия&nbsp;
                    span.value
                      |#{profile.lastName}
                    input(type='texp', name='lastName', value=profile.lastName).hidden
                      
                  .part.email
                    strong
                      |e-mail&nbsp;
                    span.value
                      |#{profile.email}
                    input(type='texp', name='email', value=profile.email).hidden
                      
                  .part.phone
                    strong
                      |Телефон&nbsp;
                    span.value
                      |#{profile.phone}
                    input(type='texp', name='phone', value=profile.phone).hidden
      .orders
        +containerX()
          +blockTitle('Мои заказы', false, 'h10')
        .lectures-list
          .head
            +containerFullX()(class='hide-for-small-only')
              +cellOffset(3, 1)(class='medium-offset-1 medium-3')
                .title Лекция
              +cell(2)(class='medium-2')
                .title Курс
              +cell(2)(class='medium-2')
                .title Дата
              +cell(3)(class='medium-3')
                .title Место проведения
              +cell(2)(class='medium-2')
                .title
              +cell(2)(class='medium-2')
                .title
              
          each lecture in orders.lectures
            .lecture
              +containerFullX()
                +cellOffset(3, 1)(class='medium-offset-1 medium-3 small-offset-1 small-14')
                  .show-for-small-only
                    strong Лекция:
                  .inner
                    a(href='lecture.html')
                      div= lecture.title
                +cell(2)(class='large-offset-0 medium-offset-0 medium-2 small-offset-1 small-14')
                  .show-for-small-only
                    strong Курс:
                  .mid
                  .inner
                    if (lecture.course)
                      a(href='course.html')
                        div= lecture.course.title
                +cell(2)(class='large-offset-0 medium-offset-0 medium-2 small-offset-1 small-14')
                  .show-for-small-only
                    strong Дата:
                  .mid
                  .inner
                    div
                      +formatDate(lecture.date)
                +cell(3)(class='large-offset-0 medium-offset-0 medium-3 small-offset-1 small-14')
                  .show-for-small-only
                    strong Место проведения:
                  .inner
                    div= lecture.location.title
                    div= `(${lecture.location.address})`
                +cell(2)(class='large-offset-0 medium-offset-0 medium-2 small-offset-1 small-14')
                  .mid
                  .inner
                    div
                      |#{lecture.tickets}
                      |&nbsp;#{declOfNum(lecture.tickets, ['билет', 'билета', 'билетов'])}
                +cell(2)(class='large-offset-0 medium-offset-0 medium-2 small-offset-1 small-14')
                  .inner
                    div
                      |N#{lecture.order}
                    .actions
                      case lecture.status
                        when 'paid'
                          .button.load-ticket скачать билет
                        when 'wait'
                          .button.paid оплатить заказ
                          .button.cancel отменить заказ
                        when 'end'
                          .button.review оставить отзыв
                          .button.load-presentation презентация
            
    include ../components/contacts
    
block scripts
  script(src='assets/js/account.js')
