extends ../layouts/layout

block vars
  - activeLink = 'catalog.html';
  - page = 'cycle';
  
block title
  - let cycle = pages.cycle;
  title Синхронизация | #{cycle.title}

block content
  main.main.cycle-page
    .main-title
      +containerX()
        +blockTitle(cycle.title, true)
        .sub-title
          .hide-for-small-only
            if (cycle.subTitle)
              |#{cycle.subTitle}
        
    .cycle
      .content
        +containerX()
          .image
            .hide-for-small-only
              img(src=cycle.image, alt=cycle.title)
            .show-for-small-only
              img(src=cycle.imageMobile, alt=cycle.title)
        +navStikyAnchors('cycle')
        
        //- +containerX()
          //- .show-for-small-only
            +whenWhereHowCycle(cycle)
                    
        +containerFullX()
          +cell10Off1()
            .left
              .anons
                p= cycle.anons
              .description
                p= cycle.description
              
          +cell4()
            //- .show-for-small-only
            //-   .append-for-small-button.text-center
            //-     +buttonBuy('Купить', '#buy')(class='anchor')
            //- .hide-for-small-only
            +whenWhereHowCycle(cycle)
                
      include ../components/howWorkCourse
      
      .lecturers-list  
        #lecturers.anchor-point
          +blockTitleRetag('Лекторы', false, 'h10', 'less')
        
          +lecturersListCourse(cycle.lecturers)
      
      #lectures.anchor-point
        +containerX()
          +blockTitle('Описание встреч', false, 'h10', 'less')
        +lecturesListCycle(cycle.lectures)
      
      #reviews.anchor-point
        include ../components/reviewsLecture
          
      +buyCycle(cycle)
    
      include ../components/recomendationLecture
      
      include ../components/contacts
        
block scripts
  script(src='assets/js/templates/participant.js')
  script(src='assets/js/course.js')
