extends ../layouts/layout

block vars
  - activeLink = 'order.html';
  - page = 'order';
  
block title
  - let order = pages.order;
  title Синхронизация | #{order.title}

block content
  main.main.order-page
    .main-title
      +containerX()
        +blockTitle(order.title, true)
        .sub-title
          if (order.subTitle)
            |#{order.subTitle}
        
    .order
      .content
        +containerX()
          .part.participant
            h2 Участники
            .value
              ul
                each participant in order.participants
                  li
                    | #{participant.firstName} #{participant.lastName}
          .part.tickets
            h2 Число билетов
            .value
              |#{order.tickets}
              |&nbsp;#{declOfNum(order.tickets, ['билет', 'билета', 'билетов'])}
          .part.price
            h2 Сумма заказа
            .value
              | #{order.price} руб.
        .lectures-list
          .head
            +containerFullX()(class='hide-for-small-only')
              +cellOffset(5, 1)(class='medium-offset-1 medium-5')
                .title Лекция
              +cell(3)(class='medium-3')
                .title Дата
              +cell(6)(class='medium-6')
                .title Место проведения
              
          each lecture, index in order.lectures
            .lecture
              +containerFullX()
                +cellOffset(5, 1)(class='medium-offset-1 medium-5 small-offset-1 small-14')
                  .inner
                    .show-for-small-only
                      strong Лекция #{index + 1}
                    div= lecture.title
                +cell(3)(class='medium-3 medium-offset-0 large-offset-0 small-offset-1 small-14')
                  .mid
                  .inner
                    div
                      +formatDate(lecture.date)
                +cell(6)(class='medium-6 medium-offset-0 large-offset-0 small-offset-1 small-14')
                  .inner
                    div= lecture.location.title
                    div= `(${lecture.location.address})`
        +containerX()
          .actions
            .save Сохранить заказ
            +buttonBuy('Купить билет')
            
    include ../components/contacts
    
block scripts
