extends ../layouts/layout

block vars
  - activeLink = 'reset-pass.html';
  - page = 'resetPass';
  
block title
  -let currentPageData = { title: 'Сброс пароля', error: false, fail: false, success: true };
  - let resetPass = currentPageData;
  title Синхронизация | #{resetPass.title}

block content
  main.main.reset-page
    .main-title
      +containerX()
        +blockTitle()
      +containerFullX()   
        +cellOffset(6, 5)
          .block-title
            h1= resetPass.title
          .sub-title
            if (resetPass.subTitle)
              |#{resetPass.subTitle}
        
    .reset-pass.form-default
      .content
        if (resetPass.success)
          +containerFullX()   
            +cellOffset(6, 5)
              p.success
              |На указанный e-mail отправлена инструкция для сброса пароля
        else if (resetPass.error)
          +containerFullX()   
            +cellOffset(6, 5)
              p.error Недействительная или просроченная ссылка
        else
          +containerFullX()   
            +cellOffset(6, 5)
              form(action='/users/reset-pass', method='post', data-abide, novalidate, data-href='/')
                label Новый пароль
                  input(type='password', name='password', required, pattern='password')
                label Повторите новый пароль
                  input(type='password', name='repassword', required, data-equalto='password', pattern='password')
                    
                p.error
                  if (resetPass.fail)
                    | Неудалось сохранить новый пароль, проверьте введенные данные
                    
                .actions
                  button(type='submit').submit Сохранить
                
            
    //- include ../components/contacts      
block scripts
