extends ../layouts/layout

block vars
  - activeLink = 'schedule.html';

block title
  title Синхронизация | #{pages.schedule.title}

block content
  script= `var scheduleEventsDates = ['${sortEventsForCalendar(pages.schedule.items).join('\', \'')}']`
    
  main.main.schedule-page 
    .main-title
      +containerX()
        +blockTitle(pages.schedule.title, true)
    
    +containerX()
      +filterList(tags)
      .pos-relative
        +filterSchedule()
        .search-decorator
          +search(pages.schedule.items)
      
    .schedule-sort
      .content
        +sortableScheduleLectures(pages.schedule.items, '', true)
        +noEvents(true)
    
    include ../components/contacts
block scripts
  script(src='assets/js/templates/calendar.js')
  script(src='assets/js/templates/schedule.js')
  script(src='assets/js/templates/search.js')
  script(src='assets/js/schedule.js')
