extends ../layouts/layout

block vars
  - activeLink = '/account';
  - page = 'account';
  - user = true;
  
block title
  - let account = currentPageData.User;
  title Синхронизация | #{pages.account.title}

block content
  main.main.account-page
    .main-title
      +containerX()
        if (!account)
          +blockTitle('Профиль')
        else
          +blockTitleWithEdit(pages.account.title, true)
        .sub-title
          if (pages.account.subTitle)
            |#{pages.account.subTitle}
        
    .account
      .content
        if (!account)
          +containerX()
            p
              |В доступе отказано.
              br
              |Выполните вход в систему.
          
        if (account)
          - let { orders, certificates, subscriptions } = currentPageData.User;
          - let { certificatesNotPayment, subscriptionsNotPayment } = currentPageData;
          - let { firstName, lastName, email, phone, avatar } = account;
          .user
            form(actions='/account', method='post', enctype='multipart/form-data', data-abide, novalidate).form-profile
              +containerFullX()
                +cellOffset(2, 1)(class='medium-offset-1 medium-2 small-offset-1 small-14')
                  .avatar
                    |#{firstName[0]}#{lastName[0]}
                    
                  input(type='file', accept="image/png, image/jpeg", name='avatar', data-validator='avatar', data-max-size=`${3*1024*1024}`).hidden
                  
                +cell(12)(class='large-offset-0 medium-offset-0 medium-12 small-offset-1 small-14')
                  .profile                  
                    .part.firstName
                      strong
                        |Имя&nbsp;
                      span.value
                        |#{firstName}
                      input(type='texp', name='firstName', value=firstName, pattern='alpha_ru').hidden
                        
                    .part.lastName
                      strong
                        |Фамилия&nbsp;
                      span.value
                        |#{lastName}
                      input(type='texp', name='lastName', value=lastName, pattern='alpha_ru').hidden
                        
                    .part.email
                      strong
                        |e-mail&nbsp;
                      span.value
                        |#{email}
                      input(type='texp', name='email', value=email, pattern='email').hidden
                        
                    .part.phone
                      strong
                        |Телефон&nbsp;
                      span.value
                        |#{phone}
                      input(type='texp', name='phone', value=phone, pattern='phone').hidden
                
              button(type='submit').hidden Сохранить
                      
          .orders
            +containerX()
              +blockTitle('Мои сертификаты', false, 'h10')
              
              if (certificates.length === 0)
                p Нет активных сертификатов
            
            if (certificates.length > 0 || certificatesNotPayment.length)  
              .lectures-list
                .head
                  +containerFullX()(class='hide-for-small-only')
                    +cellOffset(3, 1)(class='medium-offset-1 medium-3')
                      .title Название
                    +cell(2)(class='medium-2')
                      .title Остаток лекций
                    +cell(2)(class='medium-2')
                      .title Количество персон
                    +cell(3)(class='medium-3')
                      .title Дата окончания действия
                    +cell(2)(class='medium-2')
                      .title Промокод
                    +cell(2)(class='medium-2')
                      .title

                +certificatesAccount(certificatesNotPayment)
                +certificatesAccount(certificates)                

                      
          .orders
            +containerX()
              +blockTitle('Мои абонементы', false, 'h10')
              
              if (subscriptions.length === 0)
                p Нет активных абонементов
            
            if (subscriptions.length > 0 || subscriptionsNotPayment.length > 0)
              .lectures-list
                .head
                  +containerFullX()(class='hide-for-small-only')
                    +cellOffset(3, 1)(class='medium-offset-1 medium-3')
                      .title Название
                    +cell(2)(class='medium-2')
                      .title Остаток лекций
                    +cell(2)(class='medium-2')
                      .title Количество персон
                    +cell(3)(class='medium-3')
                      .title Дата окончания действия
                    +cell(2)(class='medium-2')
                      .title Промокод
                    +cell(2)(class='medium-2')
                      .title
                        
                +subscriptionsAccount(subscriptionsNotPayment)        
                +subscriptionsAccount(subscriptions)
                      
          .orders
            +containerX()
              +blockTitle('Мои заказы', false, 'h10')
              if (orders.length === 0)
                p Нет заказов
                
            if (orders.length > 0)
              .lectures-list
                .head
                  +containerFullX()(class='hide-for-small-only')
                    +cellOffset(3, 1)(class='medium-offset-1 medium-3')
                      .title Лекция
                    +cell(2)(class='medium-2')
                      .title Курс
                    +cell(2)(class='medium-2')
                      .title Дата
                    +cell(3)(class='medium-3')
                      .title Место проведения
                    +cell(2)(class='medium-2')
                      .title
                    +cell(2)(class='medium-2')
                      .title
                  
                each order in orders
                  each event in order.events
                    .lecture
                      +containerFullX()
                        +cellOffset(3, 1)(class='medium-offset-1 medium-3 small-offset-1 small-14')
                          .show-for-small-only
                            strong Лекция:
                          .inner
                            a(href=`/${event.lecture.alias.alias}`)
                              div= event.lecture.title
                        +cell(2)(class='large-offset-0 medium-offset-0 medium-2 small-offset-1 small-14')
                          .show-for-small-only
                            if (event.lecture.course && event.lecture.course.length > 0)
                              strong Курс:
                            if (event.lecture.cycle && event.lecture.cycle.length > 0)
                              strong Цикл:
                          .mid
                          .inner
                            if (event.lecture.course && event.lecture.course.length > 0)
                              a(href=`/${event.lecture.course[0].alias.alias}`)
                                div= event.lecture.course[0].title
                                
                            if (event.lecture.cycle && event.lecture.cycle.length > 0)
                              a(href=`/${event.lecture.cycle[0].alias.alias}`)
                                div= event.lecture.cycle[0].title
                        +cell(2)(class='large-offset-0 medium-offset-0 medium-2 small-offset-1 small-14')
                          .show-for-small-only
                            strong Дата:
                          .mid
                          .inner
                            div
                              +formatDate(event.date)
                        +cell(3)(class='large-offset-0 medium-offset-0 medium-3 small-offset-1 small-14')
                          .show-for-small-only
                            strong Место проведения:
                          .inner
                            div= event.location.title
                            div= `(${event.location.address})`
                        +cell(2)(class='large-offset-0 medium-offset-0 medium-2 small-offset-1 small-14')
                          .mid
                          .inner
                            div
                              |#{order._participantsMeta.count}
                              |&nbsp;#{declOfNum(order._participantsMeta.count, ['билет', 'билета', 'билетов'])}
                        +cell(2)(class='large-offset-0 medium-offset-0 medium-2 small-offset-1 small-14')
                          .inner
                            div
                              |N #{order.payment.status}
                            .actions
                              if (order.payment.status === 'PAID')
                                if (new Date(event.date) >= new Date())
                                  a(href=`/order/ticket/${order.id}`)
                                    .button.load-ticket скачать билет
                                  
                                if (event.tickets.length > 0)
                                  .button.review(data-open='reviewModal', data-lecture-id=event.lecture.id, data-event-id=event.id) оставить отзыв
                                if (event.lecture.presentation)
                                  each presentation in event.lecture.presentation
                                    a(href=`${FILE_HOST}/${presentation}`)
                                      .button.load-presentation презентация
                                      
                              if (order.payment.status === 'PENDING')
                                a(href=`/order/payment/${order.payment.id}`)
                                  .button.paid оплатить заказ
                                a(href=`/order/cancel/${order.id}`)
                                  .button.cancel отменить заказ
                  
    include ../components/contacts
    
block scripts
  script(src='/assets/js/account.js')
