extends ../layouts/layout

block vars
  - activeLink = '/catalog';
  - page = 'cycle';
  
block title
  - let cycle = currentPageData.Cycle;
  title Синхронизация | #{cycle.title}
  
block content
  main.main.cycle-page
    .main-title
      +containerX()
        +blockTitle(cycle.title, true)
        .sub-title
          .hide-for-small-only
            if (cycle.subTitle)
              |#{cycle.subTitle}
        
    .cycle
      .content
        +containerX()
          .image
            .hide-for-small-only
              if cycle.img1240x349 && cycle.img1240x349 !== 'no-photo'
                img(src=`${IMAGE_HOST}/${cycle.img1240x349}/1240x349/${slugify(cycle.title)}.jpg`, alt=cycle.title)
              else
                img(src='/assets/img/no-photo-1240x349.png', alt=cycle.title)
            .show-for-small-only
              if cycle.img340x192 && cycle.img340x192 !== 'no-photo'
                img(src=`${IMAGE_HOST}/${cycle.img340x192}/340x192/${slugify(cycle.title)}.jpg`, alt=cycle.title)
              else
                img(src='/assets/img/no-photo-340x192.png', alt=cycle.title)
                  
        +navStikyAnchors('cycle')

        //- +containerX()
          //- .show-for-small-only
            +whenWhereHowCycle(cycle)
                    
        +containerFullX()
          +cell10Off1()
            .left
              .anons
                p= cycle.anons
              .description
                p= cycle.description
              
          +cell4()
            //- .show-for-small-only
            //-   .append-for-small-button.text-center
            //-     +buttonBuy('Купить', '#buy')(class='anchor')
            //- .hide-for-small-only
            +whenWhereHowCycle(cycle)
                
      include ../components/howWorkCourse
      
      if (cycle.lecturers.length > 0)
        .lecturers-list  
          #lecturers.anchor-point
            +blockTitleRetag('Лекторы', false, 'h10', 'less')
            +lecturersListCourse(cycle.lecturers)
      
      #lectures.anchor-point
        +containerX()
          +blockTitle('Описание встреч', false, 'h10', 'less')
        +lecturesListCycle(cycle.lectures)
      
      #reviews.anchor-point
        include ../components/reviewsLecture
          
      +buyCycle(cycle)
    
      include ../components/recomendationLecture
      
      include ../components/contacts
        
block scripts
  script.
    var product = !{JSON.stringify(currentPageData.Cycle.product).replace(/<\//g, "<\\/")};
  script(src='/assets/js/templates/participant.js')
  script(src='/assets/js/course.js')
