.course-page, .cycle-page {
  .main-title {
    .sub-title {
      font-family: 'Roboto Slab';
      font-size: rem-calc(25);
      line-height: 1.1;
      font-weight: 300;
      margin-bottom: rem-calc(44);
      margin-top: rem-calc(6);
    }
  }
  .course, .cycle {
    & > .content {
      margin-bottom: rem-calc(35);
      .image {
        margin-bottom: rem-calc(8);
      }
      .anons {
        margin-top: rem-calc(19);
        p {
          font-family: 'Roboto Slab';
          font-size: rem-calc(25);
          line-height: 1;
          font-weight: 300;
          margin-bottom: rem-calc(20);
        }
      }
      .description {
        p {
          font-family: 'Roboto Slab';
          font-size: rem-calc(20);
          line-height: 1.25;
          font-weight: 400;
          margin-bottom: 0;
        }
      }
      .right {
        padding-top: rem-calc(20);
        .button-buy {
          margin-bottom: rem-calc(18);
        }
        .sub-title {
          h3 {
            margin-bottom: rem-calc(5);
          }
        }
        .event-date {
          margin-bottom: rem-calc(5);
        }
      }

      .event-date {
        .date {
          & > * {
            display: inline-block;
            font-family: 'Roboto Slab';
            font-size: rem-calc(25);
            line-height: 1;
          }
          .day {
            font-weight: 700;
          }
          .time {
            font-weight: 400;
          }
        }
      }
      .where {
        margin-top: rem-calc(31);
        .sub-title {
          h3 {
            margin-bottom: rem-calc(15);
          }
        }
      }
      .abstract5 {
        top: auto;
        bottom: 20%;
      }
    }
  }

  .how-work-course {
    background: transparent;
    p {
      // max-width: rem-calc(250);
    }
  }
  .lecturers-list {
    // margin-top: rem-calc(33);
    margin-top: 0;
    padding-top: rem-calc(33);
    .title {
      h2 {
        margin-top: rem-calc(8);
        margin-bottom: rem-calc(46);
      }
      h3 {
        margin-top: rem-calc(-3);
        margin-bottom: rem-calc(17);
        @include breakpoint(small only) {
          font-size: rem-calc(20);
          margin-bottom: rem-calc(5);
        }
      }
    }
    .content {
      background-color: #e8e8e8;
    }
    .block-title {
      .line {
        margin-bottom: 0;
      }
      .title {
        background-color: #e8e8e8;
      }
    }
    .image {
      margin-bottom: rem-calc(51);
      @include breakpoint(small only) {
        text-align: center;
      }
      img {
        box-shadow: none;
      }
    }
    .skills {
      p {
        line-height: 1.25;
        margin-bottom: rem-calc(51);
        @include breakpoint(small only) {
          line-height: 1.2;
        }
      }
    }
  }
  .lectures-container {
    margin-top: rem-calc(30);
    .lectures-item {
      margin-bottom: rem-calc(61);
      &:last-child {
        margin-bottom: rem-calc(41);
      }
    }
    p {
      font-size: rem-calc(20);
      font-family: 'Roboto';
    }
    .image {
      text-align: right;
      img {
        box-shadow: 0 3px 15px rgba(0, 0, 0, 0.35);
      }
    }
    .lecturer {
      text-align: right;
      .title {
        font-family: 'Roboto Slab';
        font-size: rem-calc(25);
        line-height: 1;
        font-weight: 400;
        margin-top: rem-calc(42);
        margin-bottom: rem-calc(13);
        span {
          background: #000;
          color: #fff;
          display: inline-block;
          padding: rem-calc(0 3 4);
        }
      }
      .value {
        font-family: 'Roboto Slab';
        font-size: rem-calc(23);
        line-height: 1;
        font-weight: 700;
      }
    }
    .description {
      margin-top: rem-calc(35);
      margin-bottom: rem-calc(23);
      p {
        line-height: 1.15;
      }
    }
    .themes {
      h4 {
        font-weight: 500;
        font-size: rem-calc(20);
        line-height: 1.15;
        margin-bottom: rem-calc(23);
      }
      p {
        line-height: 1.15;
        margin-bottom: rem-calc(22);
      }
      li {
        &:before {
          display: none;
        }
        span {
          display: inline-block;
          margin-right: rem-calc(2);
        }
        p {
          padding-left: rem-calc(9);
        }
      }
    }
    .title {
      margin-top: rem-calc(-3);
      @include breakpoint(small only) {
        margin-bottom: rem-calc(20);
      }
      .line {
        height: rem-calc(10);
        background: #000000;
        width: 120%;
        @include breakpoint(small only) {
          width: 100%;
        }
        @include breakpoint(medium only) {

        }
      }
      h3 {
        font-family: 'Roboto Slab';
        font-size: rem-calc(23);
        font-weight: 700;
        line-height: 1;
        margin-bottom: rem-calc(7);
      }
    }
  }
  .reviews {
    .left, .right {
      padding-top: rem-calc(0);
    }
    .anons {
      p {
        font-family: 'Roboto';
        font-size: rem-calc(20);
        font-weight: 400;
        margin-bottom: 0;
      }
    }
  }
  .buy {
    .course-title {
      margin-bottom: 0;
      .title {
        h2 {
          font-family: 'Roboto Slab';
          font-size: rem-calc(23);
          font-weight: 700;
          line-height: 1.15;
          margin-bottom: 0;
          margin-top: rem-calc(12);
        }
        h3 {
          font-family: 'Roboto Slab';
          color: #181818;
          font-weight: 300;
          font-size: rem-calc(20);
          line-height: 1.15;
          margin-bottom: 0;
          margin-top: rem-calc(-1);
        }
      }
    }
    .how {
      margin-top: rem-calc(23);
    }
    .order {
      .lecture-list {
        margin-top: 0;
      }
    }
    .lecture-list {
      margin-top: rem-calc(28);
      .lecture-item {
        margin-bottom: rem-calc(10);
        margin-top: 0;
      }
      li {
        margin-bottom: rem-calc(34);
        @include breakpoint(small only) {
          margin-bottom: rem-calc(5);
        }
        &:last-child {
          margin-bottom: rem-calc(27);
        }
      }
    }
    .options {
      margin-top: rem-calc(16);
    }
  }
}

.anchors-sticky-container {
  .show-m-offcanvas {
    display: none;
  }
  .logo-container {
    display: none;
    transition: display .25s linear;
  }

  .is-stuck {
    background: #fff;
    padding: rem-calc(15 0);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
    transition: padding .25s linear;
    @include breakpoint(small only) {
      padding-bottom: rem-calc(5);
    }
    .show-m-offcanvas {
      margin-top: rem-calc(20);
      display: inline-block;

    }
    .logo-container {
      display: block;
      margin-top: 0;
    }
    .anchors {
      margin-top: rem-calc(20);
      .line {
        margin-bottom: rem-calc(5);
        line-height: 1;
      }
    }
  }
}
.menu-anchors {
  .exc {
    position: absolute;
    right: 0;
    top: rem-calc(9);
    a {
      padding-right: 0;
    }
  }
  .menu {
    padding-right: rem-calc(160);
    @include breakpoint(small only) {
      padding-right: 0;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
    }
    @include breakpoint(medium only) {
      padding-right: 0;
    }
  }
  .phone {
    display: none;
  }
  .button-buy {
    display: none;
    font-size: rem-calc(18);
    padding-left: rem-calc(48);
    padding-right: rem-calc(40);
    margin: 0;

  }
  a {
    text-transform: uppercase;
    padding: rem-calc(0 21);
    line-height: 1;
    font-weight: 500;
    @include breakpoint(small only) {
      font-size: rem-calc(16);
      padding-right: rem-calc(12);
    }
    &:hover, &.active {
      .line {
        background: #000;
      }
    }
    &:first-child {
      padding-left: 0;
    }
  }
  .line {
    height: rem-calc(4);
  }
  .text {
    margin-top: rem-calc(2);
  }
}
.is-stuck {
  .menu-anchors {
    // -webkit-justify-content: flex-end;
    // -ms-flex-pack: end;
    // justify-content: flex-end;
    @include breakpoint(small only) {
      padding-top: rem-calc(15);
    }
    .menu {
      @include flex-align($x: center);
      li {
        &:last-child {
          a {
            padding-right: 0;
          }
        }
      }
    }
    .phone {
      display: inline-block;
      color: #1e1e1f;
      font-family: 'Roboto Slab';
      font-size: 1rem;
      font-weight: bold;
    }
    a {
      @include breakpoint(small only) {
        font-size: rem-calc(13);
        padding-right: rem-calc(9);
      }
    }
    .button-buy {
      display: inline-block;
      text-transform: capitalize;
      padding: 0.625rem 3.375rem 0.9375rem 3.875rem;
      margin-top: rem-calc(-16);
      @include breakpoint(small only) {
        font-size: rem-calc(16);
        padding: rem-calc(10 30 15 38);
        margin-top: rem-calc(-9);
      }
      @include breakpoint(medium only) {
        font-size: rem-calc(24);
        padding: rem-calc(10 30 15 38);
        margin-top: rem-calc(-12);
      }

    }
  }

}
