.cycle-page {
  .cycle {
    .lectures-container {
      .description {
        margin-bottom: rem-calc(35);
      }
      .lecturer {
        .title {
          margin-top: 0;
          margin-bottom: rem-calc(14);
          @include breakpoint(small only) {
            margin-top: rem-calc(42);
          }
        }
      }
    }
    .lectures-item {
      .description {
        @include breakpoint(small only) {
          margin-bottom: rem-calc(30);
        }
      }
      .description-more {
        .text-left {
          @include breakpoint(small only) {
            text-align: right !important;
          }
        }
      }
    }
  }
}
