.lecturer-page {
  .image {
    @include breakpoint(small only) {
      margin-bottom: rem-calc(15);
    }
  }
  .more-lectures {
    font-family: 'Roboto Slab';
    font-size: rem-calc(22);
    font-weight: bold;
    text-decoration: underline;
    display: inline-block;
    cursor: pointer;
  }
  .block-title-clear {
    h2 {
      margin-bottom: rem-calc(35);
    }
  }
  .reviews {
    margin-top: rem-calc(18);
    margin-bottom: rem-calc(90);
    & > .content {
      background-color: #e8e8e8;
      margin-top: rem-calc(10);
      padding: rem-calc(20 0 17);
    }
    .block-title {
      .line {
        display: none;
      }
      h2 {
        font-size: rem-calc(25);
      }
    }
  }
  .lecturer {
    .title {
      margin-top: rem-calc(19);
      h2 {
        font-family: 'Roboto Slab';
        font-size: rem-calc(28);
        font-weight: 700;
        margin-bottom: rem-calc(24);
      }
    }
    .content {
      font-size: rem-calc(25);
      margin-bottom: rem-calc(58);
      p {
        line-height: 1.4;
        margin-bottom: rem-calc(36);
      }
    }
    .anons {
      p {
        font-weight: 400;
      }
    }
    .description {
      p {
        font-weight: 300;
      }
    }
    .specialization {
      p {
        font-weight: 300;
      }
    }
  }
}
