mixin lecturesItem(lecture, cls, expanded, archive)
  .lectures-item.item(class=cls)
    +containerFullX()
      +cell4Off1()
        .image
          a(href=`/${lecture.alias.alias}`)
            if lecture.img340x192 && lecture.img340x192 !=='no-photo'
              img(src=`${IMAGE_HOST}/${lecture.img340x192}/340x192/${slugify(lecture.title)}.jpg`, alt=lecture.title)
            else
              img(src='/assets/img/no-photo-340x192.png', alt=lecture.title)
                
      +cell10()
        .grid-y
          .cell.lh-1
            +tags(lecture.tags)
            if (!lecture.events || lecture.events.length === 0)
              .other-date
                a(href=`/${lecture.alias.alias}`)= 'хотите узнать о новом расписании? >>'
            else
              +startEndDate(lecture.events[0].date, lecture.events[lecture.events.length - 1].date)
              if (expanded)
                - let datesLength = lecture.events.length;
                if (datesLength > 2)
                  +separator()
                  .other-date
                    a(href=`/${lecture.alias.alias}`)= 'другие даты >>'
                
          .cell
            .line
            //- if lecture.course.length > 0
            //-   +itemTitle(lecture.title, lecture.course[0].title, lecture.course[0].alias.alias)
            //- else if lecture.cycle.length > 0
            //-   +itemTitle(lecture.title, lecture.cycle[0].title, lecture.cycle[0].alias.alias)
            //- else
            //-   +itemTitle(lecture.title, '', lecture.alias.alias)
            
            if lecture.course.length > 0
              +itemTitle(`Лекция “${lecture.title}”`, `Курс “${lecture.course[0].title}”`, lecture.alias.alias, lecture.course[0].alias.alias)
            else if lecture.cycle.length > 0
              +itemTitle(`Лекция “${lecture.title}”`, `Цикл “${lecture.cycle[0].title}”`, lecture.alias.alias, lecture.cycle[0].alias.alias)
            else
              +itemTitle(`Лекция “${lecture.title}”`, '', lecture.alias.alias)
            
            //- +anons(lecture.anons.substring(0, 300) || lecture.anonsForCourse.substring(0, 300) || lecture.anonsForCycle.substring(0, 300) , lecture.alias.alias)
            +anons(lecture.anons || lecture.anonsForCourse || lecture.anonsForCycle , lecture.alias.alias)

mixin lecturesListContainer()
  .lectures-container
    .lectures-list
      block
              
mixin lecturesListOfEvents(events, n)
  .lectures-container
    .lectures-list
      each event, index in events
        if (index < n)
          if (index === n - 1)
            +lecturesItem(event.lecture, 'last')
          else
            +lecturesItem(event.lecture)
        else
          +lecturesItem(event.lecture, 'hidden')
          
    - let lecturesLength = events.length;
    if (lecturesLength > n)
      .text-center
        .more-lectures Другие лекции этого лектора

mixin lecturesList(lectures, n)
  .lectures-container
    .lectures-list
      each lecture, index in lectures
        if (index < n)
          if (index === n - 1)
            +lecturesItem(lecture, 'last')
          else
            +lecturesItem(lecture)
        else
          +lecturesItem(lecture, 'hidden')

    if (lectures.length > n)
      .text-center
        .more-lectures Другие лекции этого лектора

mixin lectureItemCourse(course, index, cls)
  if (index > 2)
    if (!cls)
      - cls = '';
    - cls += 'hidden';
      
  .lectures-item.item(class=cls)
    +containerFullX()
      +cell(4)(class='large-offset-0 medium-offset-0 medium-4 small-offset-1 small-14 show-for-small-only')    
        .title
          h3= course.title
          .line          
        .image
          if course.img340x340 && course.img340x340 !== 'no-photo'
            img(src=`${IMAGE_HOST}/${course.img340x340}/340x340/${slugify(course.title)}.jpg`, alt=course.title)
          else
            img(src='/assets/img/no-photo-340x340.png', alt=course.title)
        .lecturer
          if (course.lecturers && course.lecturers.length > 0)
            .title
              span
                if (course.lecturers.length === 1)
                  | лектор:
                else
                  | лекторы:
                  
            each lecturer in course.lecturers
              .value= `${lecturer.firstName} ${lecturer.lastName}`
            
      +cellOffset(10, 1)(class='medium-offset-1 medium-10 small-offset-1 small-14')
        .hide-for-small-only
          .title
            h3= course.title
            .line
        .description
          p= course.anonsForCourse || course.anonsForCycle || course.anons
          
        .themes
          //- h4 На лекции мы найдем ответ на этот вопрос, а также узнаем:
          ul
            each theme in course.themes
              li
                p
                  span •&nbsp;
                  |#{theme}
                  
             
      +cell(4)(class='large-offset-0 medium-offset-0 medium-4 small-offset-1 small-14 hide-for-small-only')
        .image
          if course.img340x340 && course.img340x340 !== 'no-photo'
            img(src=`${IMAGE_HOST}/${course.img340x340}/340x340/${slugify(course.title)}.jpg`, alt=course.title)
          else
            img(src='/assets/img/no-photo-340x340.png', alt=course.title)
        .lecturer
          if (course.lecturers && course.lecturers.length > 0)
            .title
              span
                if (course.lecturers.length === 1)
                  | лектор:
                else
                  | лекторы:
                  
            each lecturer in course.lecturers
              .value= `${lecturer.firstName} ${lecturer.lastName}`

mixin lectureItemCycle(cycle, index, cls)
  if (index > 2)
    if (!cls)
      - cls = '';
    - cls += 'hidden';
  
  .lectures-item.item(class=cls)
    +containerFullX()
      +cell(4)(class='large-offset-0 medium-offset-0 medium-4 small-offset-1 small-14 show-for-small-only')    
        .title
          h3= cycle.title
          .line          
        .image
          .image
            if cycle.img340x340 && cycle.img340x340 !== 'no-photo'
              img(src=`${IMAGE_HOST}/${cycle.img340x340}/340x340/${slugify(cycle.title)}.jpg`, alt=cycle.title)
            else
              img(src='/assets/img/no-photo-340x340.png', alt=cycle.title)
        .lecturer
          if (cycle.lecturers && cycle.lecturers.length > 0)
            .title
              span
                if (cycle.lecturers.length === 1)
                  | лектор:
                else
                  | лекторы:
                  
            each lecturer in cycle.lecturers
              .value= `${lecturer.firstName} ${lecturer.lastName}`
            
      +cellOffset(10, 1)(class='medium-offset-1 medium-10 small-offset-1 small-14')
        .hide-for-small-only
          .title
            h3= cycle.title
            .line
        .description
          p= cycle.anonsForCycle || cycle.anonsForCourse || cycle.anons
        .description-more
          +containerFullClearX()
            +cell(8)
              .text-left
                a(href=cycle.alias.alias)
                  +buttonMore('Узнать больше')
            +cell(8)
              .text-right.hide-for-small-only
                .lecturer
                  if (cycle.lecturers && cycle.lecturers.length > 0)
                    .title
                      span
                        if (cycle.lecturers.length === 1)
                          | лектор:
                        else
                          | лекторы:
                          
                    each lecturer in cycle.lecturers
                      .value= `${lecturer.firstName} ${lecturer.lastName}`

      +cell(4)(class='large-offset-0 medium-offset-0 medium-4 small-offset-1 small-14 hide-for-small-only')
        .image
          if cycle.img340x340 && cycle.img340x340 !== 'no-photo'
            img(src=`${IMAGE_HOST}/${cycle.img340x340}/340x340/${slugify(cycle.title)}.jpg`, alt=cycle.title)
          else
            img(src='/assets/img/no-photo-340x340.png', alt=cycle.title)

mixin lecturesListCourse(lectures)
  - let len = lectures.length;
  .lectures-container.show-more-container
    each lecture, index in lectures
      +lectureItemCourse(lecture, index)
    if (len > 2)
      +containerX()
        +buttonShowMore('Показать еще')(class='lecture-show-more')
      
mixin lecturesListCycle(lectures)
  - let len = lectures.length;
  .lectures-container.show-more-container
    each lecture, index in lectures
      +lectureItemCycle(lecture, index)
    if (len > 2)
      +containerX()
        +buttonShowMore('Показать еще')(class='lecture-show-more')
      
mixin lectureItemSchedule(event, cls, noOther)
  - const lecture = event.lecture;
  - const location = event.location;
  .lectures-item.item(class=cls)
    div(id=`date-${moment(event.date).format('MM-DD')}`).anchor-date-point
      +containerFullX()
        +cell4Off1()
          .image
            a(href=lecture.alias.alias)
              if lecture.img340x192 && lecture.img340x192 !== 'no-photo'
                img(src=`${IMAGE_HOST}/${lecture.img340x192}/340x192/${slugify(lecture.title)}.jpg`, alt=lecture.title)
              else
                img(src='/assets/img/no-photo-340x192.png', alt=lecture.title)
        +cell10()
          .grid-y
            .cell.lh-1
              +tag(lecture.tags[0])
              +formatDateTime(event.date)(class='time')
              if (noOther)
                +separator()
                .other-date
                  a(href=lecture.alias.alias)= 'другие даты >>'
                  
            .cell
              if lecture.course.length > 0
                +itemTitle(`Лекция “${lecture.title}”`, `Курс “${lecture.course[0].title}”`, lecture.alias.alias, lecture.course[0].alias.alias)
              else if lecture.cycle.length > 0
                +itemTitle(`Лекция “${lecture.title}”`, `Цикл “${lecture.cycle[0].title}”`, lecture.alias.alias, lecture.cycle[0].alias.alias)
              else
                +itemTitle(`Лекция “${lecture.title}”`, '', lecture.alias.alias)
            .cell
              .grid-container.full
                .grid-x.grid-margin-x
                  .large-11.cell
                    .lecturers-list
                      each lecturer in event.lecturers
                        a(href=lecturer.alias.alias)
                          .lecturer-item
                            .icon
                              img(src="/assets/img/lecturer.png")
                            .title
                              - let fullName = `${lecturer.firstName} ${lecturer.lastName}`
                              |#{fullName}
                    .locations-list    
                      .location-item
                        .icon
                          img(src='/assets/img/location.png', alt=location.title)
                        .title
                          |#{location.title}, #{location.address}
                          br
                          |м. #{location.metro}
                          
                  .large-5.cell
                    .buttons
                      +buttonBuy('Купить билет', lecture.alias.alias)
