extends ../layouts/layout

block vars
  - activeLink = '/lecturers';

block title
  - let lecturers = pages.lecturers;
  title Синхронизация | #{lecturers.title}

block content
  main.main.lecturers-page
    .main-title
      +containerX()
        +blockTitle(lecturers.title, true)
    +containerX()
      +filterList(currentPageData.allTags)
    +containerX()
      .description
        p= lecturers.description
    +containerX()
      +sortableContainer()
        include ../components/lecturersSortableTags
        
    include ../components/contacts
block scripts
  script(src='/assets/js/lecturers.js')
