mixin menuItem(item, noImage, className, style)
  li(class=className, style=style)
    a(href=item.link, class=activeLink === item.link ? 'active' : '')&attributes(attributes)
      .line
      if item.image
        if (!noImage)
          .icon
            img(src=item.image)          
      .text #{item.title}
    
.main-menu
  ul.dropdown.menu.align-right(data-dropdown-menu)
    each item in locals.app.mainMenu
      +menuItem(item)

    //- if currentPageData && currentPageData.user
    li.userIsLoggedNav(style=(currentPageData && currentPageData.user) ? '' : 'display: none')
      a(href='#')
        img(src=locals.app.userMenu.account.image)
          
      ul.menu.align-right
        +menuItem(locals.app.userMenu.account, true)
        +menuItem(locals.app.userMenu.signOut)
    //- else
    +menuItem(locals.app.userMenu.signIn, false, 'userNoLoggedNav', (currentPageData && currentPageData.user) ? 'display: none' : '')(data-open='signInModal')
  include ../components/signIn
