mixin locationsList(events)
  .locations-list
    if (events && events.length > 0)
      each event in events
        +locationItem(event.location)

mixin locationsListCourse(locations)
  .locations-list
    if (locations && locations.length > 0)
      each location in locations
        +locationItem(location)

mixin locationItem(location, short)
  .location-item
    .icon.float-left
      img(src='/assets/img/location-m.png', alt='где')
    .title= location.title
    if (short)
      .address и другие площадки в центре Москвы
    else
      .address= location.address

mixin locationsListCycle(locations)
  .location-list
    if (locations && locations.length > 0)
      each location in locations
        +locationItem(location, true)
