.contacts {
  width: 100%;
  overflow: hidden;
  .block-title {
    h2 {
      margin-bottom: rem-calc(25);
    }
  }
  .content {
    // margin-top: rem-calc(8);
    padding-top: rem-calc(8);
  }
  .description {
    width: 100%;
    z-index: 1;
    margin: 0 !important;
    .title {
      h3 {
        display: inline-block;
        color: #fff;
        font-size: rem-calc(23);
        font-family: 'Roboto Slab';
        font-weight: 700;
        background-color: #000;
        padding: rem-calc(6);
        line-height: 1;
        margin-bottom: 0;
      }
    }
    .address {
      color: #fff;
      font-family: 'Roboto';
      font-size: rem-calc(23);
      font-weight: 500;
      span {
        background-color: #000;
        display: inline-block;
        padding: rem-calc(6);
        line-height: 1;
      }
    }
    .phone {
      color: #fff;
      font-size: rem-calc(23);
      font-family: 'Roboto Slab';
      font-weight: 700;
      a {
        color: #fff;
        font-size: rem-calc(23);
        font-family: 'Roboto Slab';
        font-weight: 700;
        display: inline-block;
        background-color: #000;
        padding: rem-calc(6);
        line-height: 1;
      }
    }
  }
}

#map {
  height: rem-calc(341);
}
