.gallery {
  .content {
    margin-top: rem-calc(43);
  }
  .gallery-container {
    a {
      width: 100%;
      max-height: rem-calc(271);
      display: inline-block;
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
    }
    .image {
      height: 100%;
      width: 100%;
      background-size: cover;
      background-position: center center;
    }
  }
}

.nav-slider {
  cursor: pointer;
  position: absolute;
  width: rem-calc(78);
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  top: 0;
  z-index: 9;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: rem-calc(15 26);
  @include breakpoint(small only) {
    width: rem-calc(40);
  }
  &.nav-slider-next {
      right: 0;
      background-image: url('../img/arrow2.png');
  }
  &.nav-slider-prev {
      left: 0;
      background-image: url('../img/arrow1.png');
  }
}

.sl-overlay {
  background: #0b0b0b;
  opacity: 0.8;
}

.sl-counter {
  opacity: 0;
}

.sl-wrapper {
  .sl-close, .sl-navigation button {
    color: #fff;
  }
  .sl-navigation {
    button {
      background: rgba(0, 0, 0, 0.6);
      padding-bottom: rem-calc(8);
      height: auto;
      padding-left: rem-calc(3);
      &.sl-prev {
        padding-left: rem-calc(0);
        padding-right: rem-calc(3);
      }
    }
  }
  .sl-image {
    .sl-caption {
      padding: rem-calc(15 16 10);
      background: rgba(0, 0, 0, 0.3);
      font-family: 'Roboto', sans-serif;
      font-size: rem-calc(21);
      font-style: italic;
      line-height: 1.2;
      font-weight: 400;
    }
  }
}
