.locations {
  & > .content {
    margin-bottom: rem-calc(29);
  }
  .line {
    height: rem-calc(14);
    background: #000;
    margin-top: rem-calc(24);
    margin-bottom: rem-calc(2);
  }
  .title {
    h3 {
      font-family: 'Roboto Slab';
      font-size: rem-calc(25);
      font-weight: 700;
      line-height: 1.2;
      margin-bottom: rem-calc(2);
    }
  }
  .address {
    font-family: 'Roboto';
    font-size: rem-calc(17);
    font-weight: 400;
  }
  .description {
    font-size: rem-calc(25);
    padding-top: rem-calc(8);
    p {
      line-height: 1.4;
      margin-bottom: rem-calc(28);
    }
  }
}
